#button {
    width:400px;
    height:100px;
    font-family:Impact;
    font-size:250%;
    text-align:center;
    box-shadow:0 0 10px black;
    border-radius:30px;
    transform:translate(200px, 100px);
    

}

#button {
  background-color:gold;
}

#button:hover{
  opacity:0.8;
}
